{
  "env": {
    "development": {
      "presets": ["react-native"],
      "plugins": [
        "@babel/plugin-proposal-export-default-from",
        "transform-flow-strip-types"
      ]
    },
    "publish": {
      "presets": ["react-native-syntax"],
      "plugins": [
        "@babel/plugin-proposal-export-default-from",
        "transform-flow-strip-types"
      ]
    }
  }
}
